.users {
    display:block;
}

.avatar {
    width: 40px;
    height: 40px;
}

.selectedPage {
    font-weight: bold;
}

.notSelected {
    color: red;
    padding: 5px;
}

.enum > span {
    display: inline-block;
}